/* FONTS */

@font-face {
    font-family: "PT Sans Narrow";
    src: url("../fonts/ptsansnarrow.woff2") format("woff2"),
        url("../fonts/ptsansnarrow.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "PT Sans Narrow";
    src: url("../fonts/ptsansnarrowbold.woff2") format("woff2"),
        url("../fonts/ptsansnarrowbold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

/* VERIABLES */

:root {
    --basic-black: #000;
    --basic-extra-dark: #242424;
    --basic-dark: #aba9a7;
    --basic-natural: #e5e5e5;
    --basic-extra-light: #f8f5f2;
    --basic-white: #fff;

    --special: #663d15;
}

/* GLOBAL */

body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: var(--basic-white);
    text-transform: uppercase;
    background-color: var(--basic-black);
    background-image: url("../img/bg-main.jpg");
    background-position: top center;
    background-repeat: no-repeat;

    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

/* GRID */
.page {
    height: 100%;
}

.page-body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

/* GRID FOR PAGES */

.page-catalog {
    display: grid;
    grid-template-columns: 180px 1fr;
    align-content: start;
}

.page-catalog .page-title {
    grid-column: 1 / -1;
}

.page-catalog .breadcrumbs {
    grid-column: 1 / -1;
    margin-bottom: 40px;
}

.page-product {
    display: grid;
    grid-template-columns: 460px 1fr;
    align-content: start;
}

.page-product .page-title {
    grid-column: 1 / -1;
}

.page-product .breadcrumbs {
    grid-column: 1 / -1;
    margin-bottom: 40px;
}

/* MAIN HRADER */

.main-header {
    margin-bottom: 70px;
}

.main-header-bar {
    background-color: var(--basic-black);
    margin-bottom: 60px;
}

/* CONTAINER */

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

/* LOGO */

.main-header-logo {
    order: 1;
    justify-self: center;
    width: 368px;
    height: 153px;
}

/* INNER PAGE */

.inner-page {
    color: var(--basic-black);
    background-color: var(--basic-extra-light);
    background-image: url("../img/pattern-light.png");
    background-position: 0 0;
    background-repeat: repeat;
}

.inner-page .main-header-logo {
    order: 0;
    width: 111px;
    height: 24px;
}

.page-title {
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
    font-size: 30px;
    line-height: 42px;
}

/* BREADCRUMBS */

.breadcrumbs {
    padding: 0;
    margin: 0;
    list-style: none;
}

.breadcrumbs a {
    color: var(--basic-black);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
    text-decoration: underline;
}

.breadcrumbs-current {
    color: var(--basic-dark);
}

/* FILTER */

.filters {
    width: 180px;
}

.filter fieldset {
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
    border: none;
}

.filter fieldset:first-child {
    margin-bottom: 35px;
}

.filter legend {
    margin-bottom: 26px;
    font-size: 24px;
    line-height: 30px;
}

.filter ul{
    padding: 0;
    margin: 0;
    line-height: 18px;
    list-style: none;
}

.filter li {
    margin-bottom: 19px;
}

/* CATALOG */

.catalog {
    margin-left: 60px;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-bottom: 25px;
    list-style: none;
}

.catalog-category {
    display: block;
    text-transform: none;
}

.catalog-item {
    width: 220px;
    min-height: 285px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: var(--basic-extra-light);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.catalog-item:nth-child(3n) {
    margin-right: 0;
}

.catalog-item a {
    color: var(--basic-black);
}

.catalog-item h3 {
    margin-top: 17px;
    margin-right: 15px;
    margin-bottom: 12px;
    margin-left: 16px;
    font-size: 14px;
    line-height: 18px;
}

.catalog-item-image {
    width: 220px;
    height: 165px;
    margin: 0;
}

.catalog-item-price {
    display: flex;
    margin: 15px;
    margin-top: 0;
}

.catalog-pagination {
    display: flex;
}

.catalog-pagination a {
    color: var(--basic-white);
}

.catalog-pagination li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 43px;
    height: 43px;
    margin-right: 7px;
    background-color: var(--basic-black);
    list-style: none;
    cursor: pointer;
}

.pagination-current {
    
}

/* PRODUCT PHOTO */

.product-photo-full {
    display: block;
    width: 460px;
    height: 498px;
    margin: 0;
    margin-bottom: 20px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

.product-photo-preview {
    list-style: none;
}

.product-photo-preview li {
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

.product-photo-preview li:hover {
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
}

.product-article {
    text-align: right;
    color: var(--basic-dark);
}

.product-price b {
    line-height: 20px;
    text-align: center;
    background-color: var(--basic-natural);
    width: 112px;
}

/* PRODUCT INFO */

.product-info {
    width: 390px;
    padding-top: 23px;
    padding-left: 80px;
}

.product-info h3 {
    margin: 0;
    margin-bottom: 27px;
    font-size: 24px;
    line-height: 30px;
}

.product-info ul {
    list-style: none;
}

.product-info p {
    margin: 0;
}

.product-description {
    padding-right: 10px;
    margin-bottom: 29px;
}

.product-description p {
    width: 200px;
}

.product-info .product-text {
    margin-bottom: 35px;
}

.product-info .product-price {
    display: flex;
    margin-bottom: 63px;
}

.product-price .button {
    padding-right: 17px;
    padding-left: 17px;
}

/* MAIN NAVIGATION */

.main-navigation {
    display: grid;
    font-size: 16px;
    line-height: 20px;
    color: var(--basic-white);
    background-color: transparent;
}

.main-navigation-wrapper {
    background-color: var(--basic-black);

    display: grid;
    grid-template-columns: 1fr min-content;
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.inner-page .main-navigation-wrapper {
    grid-template-columns: 170px 1fr min-content;
}

/* SITE NAVIGATION */

.site-navigation {
    width: 620px;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    min-height: 70px;

    list-style: none;
}

.site-navigation-current a:not([href]) {
    background-color: var(--basic-black);
}

/* USER NAVIGATION */

.user-navigation {
    max-width: 140px;
}

.user-navigation .login-link {
    padding-left: 50px;
    position: relative;
}

/* LOGIN LINK */

.login-link::before {
    content: "";
    position: absolute;
    top: 27px;
    left: 24px;
    width: 16px;
    height: 18px;
    background-image: url("../img/svg/login.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;
}

.login-link:hover::before,
.login-link:focus::before,
.login-link:active::before {
    opacity: 1;
}

.site-navigation a,
.user-navigation a {
    color: var(--basic-white);
    display: block;
    padding: 25px 20px;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
    background-color: var(--basic-extra-dark);
}

/* FEATURES */

.features {
    margin-bottom: 80px;
}

.features-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.feature-item {
    width: 300px;
    text-align: center;
}

.feature-item h3 {
    position: relative;
    margin: 0;
    margin-bottom: 60px;
    font-size: 30px;
    line-height: 42px;
}

.feature-item h3::after {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-left: -10px;
    background-color: var(--basic-white);
    transform: rotate(45deg);
}

.feature-item p {
    margin: 0 10px;
}

/* INDEX-COLUMNS */

.index-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px 80px;
    margin-bottom: 36px;
    color: var(--basic-black);
    background-color: var(--basic-extra-light);
    background-image:
        url("../img/line.png"),
        url("../img/pattern-light.png");
    background-position: center, 0 0;
    background-repeat: no-repeat, repeat;
}

.index-columns h2 {
    margin: 0;
    margin-bottom: 25px;
    font-size: 30px;
    line-height: 42px;
}

/* NEWS */

.news {
    width: 380px;
}

.news-list {
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
    list-style: none;
}

.news-item {
    margin-bottom: 25px;
}

.news-item p {
    margin: 0;
}

/* GALLERY */

.gallery {
    width: 300px;
}

.gallery-container {
    height: 260px;
}

.gallery-content {
    height: 164px;
    margin: 0;
    background-color: var(--basic-dark);
    border: 7px solid var(--basic-white);
}

.gallery-content img {
    width: 286px;
    height: 164px;
}

/* BUTTON */

.button {
    display: inline-block;
    margin-right: 16px;
    padding: 10px 30px;
    font: inherit;
    text-align: center;
    color: var(--basic-white);
    vertical-align: middle;
    text-transform: uppercase;
    background-color: var(--basic-black);
    border: none;
}

.button:hover,
.button:focus,
.button:active {
    background-color: var(--special);
}

.button.disabled,
.button:disabled {
    cursor: default;
    opacity: 0.5;
    background-color: var(--basic-black);
}

/* CONTACTS */

.contacts {
    width: 380px;
}

.contacts p {
    margin: 0;
    margin-bottom: 25px;
}

.contacts-phone {
    color: inherit;
}

/* APPOINTMENT */

.appointment {
    width: 300px;
}

.appointment-info {
    margin: 0;
    margin-bottom: 15px;
}

.appointment-item {
    margin-top: 0;
    margin-bottom: 10px;
}

.appointment-item input {
    font: inherit;
    background-color: transparent;
    border: 2px solid var(--basic-black);
}

.appointment-item input:focus {
    border-color: var(--special);
}

.appointment .button {
    margin-top: 10px;
    margin-right: 0;
}

/* MAIN FOOTER */

.main-footer {
    padding: 60px 0;
    margin-top: 65px;
    color: var(--basic-white);
    background-color: var(--basic-extra-dark);
    background-image: url("../img/pattern-light.png");
    background-position: 0 0;
    background-repeat: repeat;
}

.main-footer .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer-contacts {
    margin: 0;
    width: 320px;
}

.footer-contacts a {
    color: var(--basic-white);
    text-decoration: underline;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
    text-decoration: none;
}

.footer-social {
    width: 145px;
    justify-self: center;
    text-align: center;
}

.footer-social ul {
    list-style: none;
}

.footer-social h2 {
    font-size: 14px;
}

/* SOCIAL BUTTON */

.social-button {
    color: inherit;
}

.social-button:hover,
.social-button:focus {
    background-color: var(--basic-white);
}

/* FOOTER COPYRIGHT */

.footer-copyright {
    max-width: 150px;
    margin: 0;
    justify-self: end;
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
    color: var(--basic-black);
    background-color: var(--basic-white);
}

/* MODAL */

.modal {
    color: var(--basic-black);
    background-color: var(--basic-extra-light);
    background-image: url("../img/pattern-light.png");
    background-position: 0 0;
    background-repeat: repeat;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-login h2 {
    margin: 0;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 42px;
}

.modal-description {
    margin: 0;
    margin-bottom: 10px;
}

/* LOGIN FORM */

.login-form p {
    margin: 0;
    margin-bottom: 10px;
}

.login-form input[type="email"],
.login-form input[type="password"] {
    font: inherit;
    color: var(--basic-black);
    text-transform: uppercase;
    background-color: var(--basic-extra-light);
    border: 2px solid var(--basic-black);
}

.login-form input:focus {
    border-color: var(--special);
}

.login-form .login-help {
    margin: 15px 0;
}

.login-icon-user {
    background-image: url("../img/svg/user.svg");
    background-position: 270px center;
    background-repeat: no-repeat;
}

.login-icon-password {
    background-image: url("../img/svg/lock.svg");
    background-position: 270px center;
    background-repeat: no-repeat;
}

/* RESTORE */

.restore {
    color: var(--basic-black);
    text-decoration: underline;
}

.restore:hover,
.restore:focus {
    text-decoration: none;
}