/* FONTS */

@font-face {
    font-family: "PT Sans Narrow";
    src: url("../fonts/ptsansnarrow.woff2") format("woff2"),
        url("../fonts/ptsansnarrow.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "PT Sans Narrow";
    src: url("../fonts/ptsansnarrowbold.woff2") format("woff2"),
        url("../fonts/ptsansnarrowbold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

/* VERIABLES */

:root {
    --basic-black: #000;
    --basic-extra-dark: #242424;
    --basic-dark: #aba9a7;
    --basic-natural: #e5e5e5;
    --basic-extra-light: #f8f5f2;
    --basic-white: #fff;

    --special: #663d15;
}

/* GLOBAL */

body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: var(--basic-white);
    text-transform: uppercase;
    background-color: var(--basic-black);
    background-image: url("../img/bg-main.jpg");
    background-position: top center;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* MAIN NAVIGATION */

.main-navigation {
    font-size: 16px;
    line-height: 20px;
    color: var(--basic-white);
    background-color: transparent;
}

.main-navigation-wrapper {
    background-color: var(--basic-black);
}

.site-navigation {
    list-style: none;
}

.site-navigation-current a:not([href]) {
    background-color: var(--basic-black);
}

/* USER NAVIGATION */

.site-navigation a,
.user-navigation a {
    color: var(--basic-white);
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
    background-color: var(--basic-extra-dark);
}

/* FEATURES */

.features-list {
    list-style: none;
}

.feature-item {
    text-align: center;
}

.feature-item h3 {
    font-size: 30px;
    line-height: 42px;
}

/* INDEX-COLUMNS */

.index-columns {
    color: var(--basic-black);
    background-color: var(--basic-extra-light);
    background-image: url("../img/pattern-light.png");
    background-position: center, 0 0;
    background-repeat: repeat;
}

.index-columns h2 {
    font-size: 30px;
    line-height: 42px;
}

/* NEWS */

.news-list {
    list-style: none;
}

/* GALLERY */

.gallery-content {
    background-color: var(--basic-dark);
    border: 7px solid var(--basic-white);
}

/* BUTTON */

.button {
    font: inherit;
    text-align: center;
    color: var(--basic-white);
    vertical-align: middle;
    text-transform: uppercase;
    background-color: var(--basic-black);
    border: none;
}

.button:hover,
.button:focus,
.button:active {
    background-color: var(--special);
}

.button.disabled,
.button:disabled {
    cursor: default;
    opacity: 0.5;
    background-color: var(--basic-black);
}

/* CONTACTS */

.contacts-phone {
    color: inherit;
}

/* APPOINTMENT */

.appointment-item input {
    font: inherit;
    background-color: transparent;
    border: 2px solid var(--basic-black);
}

.appointment-item input:focus {
    border-color: var(--special);
}